Django>=1.9,<1.10

# 3rd party django apps
django-oauth-toolkit==0.10.0
django-pipeline==1.6.6
# Temporary pipeline browserify
# django-pipeline-browserify==0.2.0
git+https://github.com/lebeier/django-pipeline-browserify@545f0b140efb8e60bbe3c647e890fbbcc6d31b57

# 3rd party [other] apps
oauthlib==1.0.3
